p{
  border: 2px solid blue;

  /* margem */
  /* margin:35px; */
  /* margin: top right bottom left */
  /* margin-top: 20px; */
  /* margin: auto; */
  margin: 10px auto 20px auto;

  /* Tamanho do elemento  */
  width: 50%;

  /* Espaço dentro do objeto */
  /* padding: 10px; */
  padding-left: 20px;
}
