<%- include partials/header %>

<h1>Teste: variavel recebida foi:<%= varr.toUpperCase() %></h1>
   <% if(varr.toLowerCase() === "teste"){ %>
        <h1>O teste foi um sucesso!</h1>
  <%  } else { %>
    <p> Teste do else Ok!</p>
    <% } %>
<p>getAnswer.ejs</p>

<%- include partials/footer %>